# Data engineering on the famous Titatnic dataset.

1. Saving and loading the dataset

In [2]:
import pandas

In [6]:
raw_data = pandas.read_csv('titanic.csv', index_col="PassengerId")

2. Using Pnadas to study our dataset

In [7]:
len(raw_data)

891

In [8]:
raw_data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
raw_data['Survived']

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [12]:
raw_data[['Name','Age']]

                                                          Name   Age
PassengerId
1                                      Braund, Mr. Owen Harris  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
3                                       Heikkinen, Miss. Laina  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
5                                     Allen, Mr. William Henry  35.0
...                                                        ...   ...
887                                      Montvila, Rev. Juozas  27.0
888                               Graham, Miss. Margaret Edith  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   NaN
890                                      Behr, Mr. Karl Howell  26.0
891                                        Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [13]:
raw_data['Survived']

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [15]:
sum(raw_data['Survived']) # total survivors

342

3. Cleaning up our dataset: Missing values and how to deal with them.